body{
    background-color: #e0e4e7;
    width: auto;
    margin: 0;
    padding: 0;
    transition: all 0.5 ease-in;
}

#icon{
    width: 60px;
    position: relative;
    margin: 10px 10px;
    background-color: rgb(20, 82, 82);
    padding: 5px;
}
#icon:hover{
    transition: all 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}

.menu-list{
    position: relative;
    transition: all 1s ease;
}


.menu-list ul{  
    list-style: none;
    display: none;
    flex-direction: column;
    line-height: 60px;
    padding-left: 0%;
    margin-left: 0px; 
    transition: all 1s ease;
}

.menu-list ul li{
    width: 200px;
    border: 1px solid #f4f4f4;
    border-left: none;
    cursor: pointer;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}
nav ul li:hover{
    opacity: 0.8;
    font-size: larger;
    color: black;
    transition: all .5s ease-in;
}

nav ul li:nth-child(1){
    background-color: #f4f4f4;
}

